.width-200{
    width: 200px;
}

.table-text-center{
    text-align: center;
    vertical-align: middle;
}

.add-item-button{
    margin-bottom: 30px;
}

.display-flex-center{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.date-label{
    margin-right: 10px;
}

.theme-text-color{
    color:#36D7B7 !important;
}

.theme-main-color-bg{
    background-color:#36D7B7 !important;
}

.theme-secondary-color-bg{
    background-color: #289984 !important;
}

.submit-btn{
    background-color: #36D7B7 !important;
    border-color: #36D7B7 !important;
}

.submit-btn:hover{
    background-color: #289984 !important;
}

.badge.proportion-badge-incomplete{
    background-color: #b50000 !important;
}

.badge.proportion-badge-complete{
    background-color: #1f8973 !important;
}

.warning-overlay .tooltip-arrow::before{
    border-top-color: #b70000 !important;
}

.warning-overlay .tooltip-inner{
    background-color: #b70000 !important;
}